/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* general */

*, *::after, *::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: white;
    color: black;
}

.container {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.col-1-1, .col-1-2 {
    width: 630px;
    height: 250px;
    margin: 0 auto 30px auto;
}

.col-1-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* typography */

h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

/* header */

.primary-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.name {
    cursor: pointer;
}

.primary-nav ul {
    display: flex;
    flex-flow: row nowrap;
}

.primary-nav li {
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    padding-left: 15px;
}

.primary-nav li:hover {
    font-weight: bold;
    transition: 1s;
}

/* hero */

.primary-hero {
    width: 100%;
    padding: 0 15px 30px 15px;
}

.primary-hero h1 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.social-icons a:last-child img {
    margin-right: 0;
}

/* mockups */

.mockup {
    position: relative;
    background-color: lightgray;
    z-index: 10;
    cursor: pointer;
}

.col-1-2 .mockup {
    width: 300px;
    height: 100%;
}

.mockup .color-overlay {
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 10, 200, 0);
    z-index: 20;
}

.col-1-1 .color-overlay {
    width: 630px;
}

.col-1-2 .color-overlay {
    width: 300px;
}

.text-overlay h2 {
    border-left: solid cyan 0.5px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.text-overlay {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 30;
}

.mockup:hover .color-overlay {
    background-color: rgba(0, 10, 200, 0.5);
    transition: 1s;
}

.mockup:hover .text-overlay {
    display: block;
    transition: 1.5;
}

/* footer */

.primary-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    align-items: center;
}

.social-icons-footer {
    display: flex;
    flex-flow: row nowrap;
}

.social-icons-footer img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}