
/* hero */

.primary-hero {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 100px;
}

.primary-hero h1 {
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.social-icons .is-img {
    width: 50px;
    height: 50px;
    background-size: 50px;
    margin-right: 20px;
}

.social-icons a:last-child .is-img {
    margin-right: 0;
}

.linkedin-img {
    background-image: url("../assets/icons/linkedin.svg");
    transition: 0.5s;
}

.linkedin-img:hover {
    background-image: url("../assets/icons/linkedin-b.svg");
    transition: 0.5s;
}

.github-img {
    background-image: url("../assets/icons/gitHub.svg");
    transition: 0.5s;
}

.github-img:hover {
    background-image: url("../assets/icons/gitHub-b.svg");
    transition: 0.5s;
}

.mail-img {
    background-image: url("../assets/icons/mail.svg");
    transition: 0.5s;
}

.mail-img:hover {
    background-image: url("../assets/icons/mail-b.svg");
    transition: 0.5s;
}

.youtube-img {
    background-image: url("../assets/icons/youtube.svg");
    transition: 0.5s;
}

.youtube-img:hover {
    background-image: url("../assets/icons/youtube-b.svg");
    transition: 0.5s;
}

/* mockups */

.mockup {
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.col-1-1.mockup {
    margin-bottom: 20px;
}

.col-1-1.mockup img {
    max-height: 500px;
    width: 960px;
}

.col-1-2 .mockup img {
    max-width: 465px;
    max-height: 400px;
}

.mockup .color-overlay {
    width: 100%;
    height: calc(100% - 6.6px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 20;
    transition: 1s;
}

.text-overlay h2 {
    margin-bottom: 10px;
}

.text-overlay h3 {
    color: rgba(0, 0, 0, 0);
    transition: 0.4s;
}

.text-overlay {
    position: absolute;
    bottom: -15px;
    left: 30px;
    right: 30px;
    z-index: 30;
    transition: 0.5s 0.2s;
}

.mockup:hover .color-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.mockup:hover .text-overlay h3 {
    color: black;
    transition: 0.5s 0.3s;
}

.mockup:hover .text-overlay {
    bottom: 30px;
    transition: 0.5s;
}

/* header*/

.section-header {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-top: -160px;
}

.section-header img {
    display: block;
    width: 100%;
}

.section-header .container {
    height: 100%;
    position: relative;
    z-index: 20;
}

.section-header .color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

.headline {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.headline h1, .headline h3 {
    text-align: left;
    color: white;
}

.inline-logo {
    height: 13px;
    padding: 0 5px;
}

/* tldr */

.tldr {
    width: 370px;
    text-align: center;
    padding: 15px;
    margin: 0 auto 50px auto;
}

.view-project img {
    display: block;
    float: left;
    height: 22px;
}

.view-project {
    width: 250px;
    display: block;
    padding: 10px 15px;
    border: solid black 1px;
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

.view-project:hover {
    background-color: lightgray;
    transition: 0.3s;
}

/* text */

.is-text img {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.08);
}

.is-text h2 {
    border-left: solid #00A5E7 1px;
    margin-bottom: 18px;
    padding-left: 20px;
}

.is-text a {
    font-style: italic;
    font-weight: lighter;
    border-bottom: dotted black 1px;
}

.text-taskboard img {
    max-width: 465px;
    max-height: 350px;
}

.text-styles img {
    max-width: 465px;
    max-height: 300px;
}

.text-btn-game img:first-child {
    max-width: 400px;
    max-height: 500px;
}

.text-btn-game img:nth-child(2) {
    max-width: 400px;
    max-height: 450px;
}

.right-side h2 {
    margin-left: 30px;
}

.right-side p {
    margin: 0 0 30px 30px;
}

.left-side h2 {
    margin-right: 30px;
}

.left-side p {
    margin: 0 30px 30px 0;
}

.taskboard-specs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.taskboard-specs img {
    max-width: 120px;
    max-height: 200px;
    margin: 10px;
}

.taskboard-code {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.taskboard-code img:first-child {
    margin-bottom: 20px;
}

/* next project */

.next-project {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.arrow {
    height: 83px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    right: 20px;
}

.arrow.img-turnd-left {
    transform: rotate(0.5turn);
    left: 20px;
    transition: 0.5px;
}

.arrow:hover {
    right: 10px;
    transition: 0.5s;
}

.arrow.img-turnd-left:hover {
    left: 10px;
    transition: 0.5s;
}

.arrow-place-holder {
    width: 64px;
}

/* about */

.text-about img {
    max-height: 400px;
}

.about .btns {
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start
}

a.btn-section {
    cursor: pointer;
    width: 150px;
    display: block;
    padding: 10px 15px;
    border: solid black 0.5px;
    margin: 0 15px 20px 0;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s;
}

a.btn-section:hover {
    background-color: lightgray;
    transition: 0.3s;
}

@media (max-width: 960px) {
    .primary-hero h1 {
        padding: 0 10px;
    }
    .col-1-1.mockup img {
        width: 100%;
        height: auto;
    }
    .col-1-2 .mockup {
        width: 100%;
    }
    .col-1-2 .mockup img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
    }
    .headline {
        left: 30px;
    }
    .is-text h2 {
        margin: 30px;
    }
    .is-text p {
        margin: 30px;
    }
    .btns {
        margin: 0 30px;
    }
    .taskboard-specs {
        padding: 30px;
    }
    .next-project {
        margin-top: 50px;
    }
    .text-btn-game img:first-child {
        max-height: 100%;
    }
    .about .btns {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .primary-hero {
        margin-top: -60px;
    }
    .text-overlay h3, .text-overlay h2 {
        color: white;
    }
    .text-overlay {
        bottom: 30px;
    }
    .mockup .color-overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .tldr {
        width: 100%;
    }
    .is-text img {
        width: 100%;
    }
    .arrow {
        position: static;
    }
    .about .btns {
        width: 100%;
        flex-flow: column;
        justify-content: flex-start;
        padding: 0 20px;
        margin: 0 0 30px 0;
    }
    a.btn-section {
        width: 100%;
        margin: 20px 0;
    }
}